body {
    font-family: "Dosis", Helvetica, Arial, sans-serif; 
    color: #34495e;
    padding-top: 40px;
    text-shadow: white 1px 1px 1px;
  }
  .value {
    /* border-bottom: 2px dashed #bdc3c7; */
    text-align: right;
    font-weight: bold;
    font-size: 4em;
    color: #000066;
    width: 50%; 
    height: 30px;
    line-height: 0px;
    margin: 10px auto;
    letter-spacing: -.07em;
    text-shadow: white 2px 2px 2px;
  }
  input[type="range"] {
    display: block;
    -webkit-appearance: none;
    background-color:slategray;
    width: 70%;
    height: 1px;
    border-radius: 50px;
    border-color: slategray;
    border-width: 2px;
    margin: 10px auto;
    outline: 1px;
  }
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color:#000066;
    width: 30px;
    height: 38px;
    border-radius: 50%;
    border: 1px solid white;
    cursor: pointer;
    transition: .2s ease-in-out;
  }​
    input[type="range"]::-webkit-slider-thumb:hover {
      background-color: white;
      border: 2px solid #000066;
    }
    input[type="range"]::-webkit-slider-thumb:active {
      transform: scale(1.7);
    }

    input[hideit="true"] {
        display: none;
    }

    textarea[hideit=true] {
        display: none;
    }
    textarea[type="small"] {
        font-weight: 400;
        background: white;
        color: black;
        border-color: grey;
        padding: 10px 15px;
        margin-left: 10%;
        border-radius: 4px;
        width: 80%;
        height: 100px;
        box-sizing: border-box;
        font-size: 14px;
    }


    input[type="number"] {
        border-color: grey;
        width: 8em;
    }

    button[type="button"] {
        color:black;
        background-color: palevioletred;
        font-family: sans-serif;
        margin: 1em;
        margin-top: 2em;
        margin-left: 15%;
        padding: 1px;

    }

    textarea {
        font-weight: 400;
        background: whitesmoke;
        color: black;
        border-color: grey;
        padding: 10px 15px;
        border-radius: 4px;
        width: 100%;
        height: 250px;
        box-sizing: border-box;
        font-size: 14px;
    }